/Pila.class
/Cola.class
/ColaPrioridad$Elem.class
/ColaPrioridad.class
/Conjunto.class
/DiccionarioMultiple$Elem.class
/DiccionarioMultiple.class
/DiccionarioSimple$Elem.class
/DiccionarioSimple.class
